/bin/
/run/
/CREDITS-fml.txt
/forge-1.9-12.16.0.1766-1.9-changelog.txt
/forge-1.9-12.16.0.1766-1.9-mdk_Client.launch
/forge-1.9-12.16.0.1766-1.9-mdk_Server.launch
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/README.txt
/.classpath
/logs/
/gradle/
/build/
/eclipse/
/saves/
/resourcepacks/
/.gradle
/.project
/.settings
/crash-reports
/options.txt
/*.json
/config
/screenshots
/*.setting
*.log